@use '../helpers' as *;

.button {
  display: inline-block;
  justify-content: center;
  padding: rem(6) rem(17);
  font-size: rem(14);
  color: var(--color-accent);
  white-space: nowrap;
  border: var(--border);
  border-radius: var(--rounded-8);
  transition: all , .3s ease;
  &.btn{
    padding: rem(18) rem(24);
    @include media(lg) {
      padding: rem(24) rem(24);
    }
  }

  @include media(lg) {
    padding: rem(12) rem(24);
    font-size: rem(16);
  }

  @include hover {
    color: var(--color-light);
    background-color: var(--color-accent);
    border-color: var(--color-accent);
  }

  &--accent {
    font-weight: 500;
    color: var(--color-light-10);
    background-color: var(--color-accent);
    border-color: var(--color-accent);
    &:hover{
      background-color: var(--color-secondary);
      border-color: var(--color-secondary);
    }
  }
  &--bordered{
    border-color: var(--color-accent);
  }

  &--dark-gray {
    background-color: var(--color-dark-10);
  }
  &--light{
    background-color: var(--color-light-10);
  }
}