@use '../helpers' as *;

.button {
  display: inline-flex;
  justify-content: center;
  min-width: rem(100);
  padding: rem(6) rem(17);
  font-size: rem(14);
  color: var(--color-accent);
  white-space: nowrap;
  border: var(--border);
  border-radius: var(--rounded-8);
  transition: all , .3s ease;

  @include media(lg) {
    min-width: rem(230);
    padding: rem(12) rem(24);
    font-size: rem(16);
  }

  @include hover {
    color: var(--color-light);
    background-color: var(--color-accent);
    border-color: var(--color-accent);
  }

  &--accent {
    font-weight: 500;
    color: var(--color-dark);
    background-color: var(--color-accent);
    border-color: var(--color-accent);
  }
  &--bordered{
    border-color: var(--color-accent);
  }

  &--dark-gray {
    background-color: var(--color-dark-10);
  }
}