@use '../helpers' as *;

.card-grid{
  border-radius: var(--rounded-8);
  background: var(--color-light-10);
  transition: all .4s ease;
  &:hover{
    box-shadow: 0 0 rem(20) var(--color-gray-10);
  }
  h3{
    @include fluid-text(16, 12);
    font-weight: 400;
    color: var(--color-secondary);
    line-height: 1.5;
    margin: 0;
    text-align: center;
    padding: rem(16);
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  figure{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: var(--rounded-8);
    overflow: hidden;
  }

  &:last-child{
    grid-column: 1 / -1;
    @include media(sm){
      grid-column: auto;
    }
  }
}