@use '../helpers' as *;
.grid-block{
  display: grid;
  grid-template-columns: repeat(2,  1fr);
  grid-template-rows: clamp(7.5rem, 5.8884rem + 6.6116vw, 12.5rem);
  gap: rem(16);
  @include media(sm){
    gap: rem(24);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: fluid(200,120) 1fr;
  }
}