@use '../helpers' as *;

.header {
  position: sticky;
  z-index: 50;
  background-color: var(--color-light);
  top: 0;
  &__top {
    padding-block: rem(24);
    @include media(lg){
      padding-block: rem(20);
    }
    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 1rem;
    }
  }
  &__contacts {
    display: none;
    @include media(lg){
      display: flex;
    }
    &-wrap{
      display: flex;
    }
  }
  &__contact-us-link {
    @include media(lg) {
      width: 100%;
      max-width: rem(300);
      align-self: center;
    }
  }
  &__order{
    display: none;
    @include media(lg){
      display: inline-flex;
    }
  }
  &__menu {
    border-top: 1px solid var(--color-gray-10);
    padding: rem(20) 0;
    display: none;
    @include media(lg){
      display: block;
    }
    nav{
      position: relative;
    }
    .menu {
      display: flex;
      column-gap: rem(16);
      flex-direction: column;
      flex-wrap: wrap;
      @include media(lg){
        column-gap: rem(16);
      }

      @include media(lg){
        flex-direction: row;
      }
    }
    .menu-item-has-children{
      .sub-menu{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--color-light);
        list-style: none;
        padding:rem(15) rem(0);
        opacity: 0;
        transform: translateY(-10px);
        transition: all 1s ease;
        column-count: 2;
        @include media(lg){
          column-count: 4;
        }
        li{
          border-left: 2px solid var(--color-secondary);
          margin: 0;
          padding: rem(0);
          a{
            display: inline-block;
            padding: rem(3) rem(10);
            transition: all 0.3s ease;
            font-size: rem(14);
            &:hover{
              padding-left: rem(17);
            }
          }
        }
        &.show{
          opacity: 1;
          transform: translateY(0);
          display: block;
          transition: all 1s ease;
        }
      }
      &:hover .sub-menu{
        opacity: 1;
        transform: translateY(0);
        display: block;
        transition: all 1s ease;
      }
    }

    .menu-item {
      margin-right: rem(18);
      color: var(--color-dark);
      font-weight: 400;
      font-size: rem(16);
      @include media(lg){
        margin-right: rem(32);
      }
      .caret{
        position: relative;
      }
      a{
        text-decoration: none;
      }
    }
  }

  &__right{
    display: flex;
    align-items: center;
    @include media(lg){
      display: none;
    }
    .cta-icon-block{
      display: none;
      @include media(sm){
        display: flex;
      }
    }
  }

}

.menu-item-has-children{
  display: flex;
  margin-right: rem(18);
  @include media(lg){
    margin-right: rem(22);
  }
  .caret {
    cursor: pointer;
    display: inline-block;
    margin-left: rem(3);
    font-size: rem(12);
    line-height: 1;
    color: var(--color-secondary);
    position: absolute;
    right: 0;
    top: -2px;
  }
  .sub-menu{
    display: none;
    list-style: none;
    padding:rem(15) rem(0);
    li{
      border-left: 2px solid var(--color-secondary);
      margin: 0;
      padding: rem(0);
      a{
        display: inline-block;
        padding: rem(3) rem(10);
        transition: all 0.3s ease;
        font-size: rem(14);
        &:hover{
          padding-left: rem(17);
        }
      }
    }
    &.show{
      opacity: 1;
      transform: translateY(0);
      display: block;
      transition: all 1s ease;
    }
  }
}
.mobileMenu{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  background: var(--color-dark-10);
  width: 75%;
  opacity: 0;
  transform: translateX(-70%);
  transition: all .3s ease;
  z-index: -1;
  &.show{
    transform: translateX(0);
    opacity: 1;
    z-index: 100;
  }
  &__wrapper{
    padding: rem(70) rem(20);
    color: var(--color-light);
    height: 100%;
    overflow-x: auto;
  }
  &__menu{
    .menu-item {
      font-weight: 400;
      font-size: rem(16);
      margin-bottom: rem(16);
      a{
        text-decoration: none;
      }
    }
    .menu-item-has-children{
      position: relative;
      flex-direction: column;
    }
  }
  &__contacts{
    margin-top: rem(40);
    .title{
      color: var(--color-light);
    }
    .cta-icon-block{
      margin: 0;
      margin-bottom: rem(16);
    }
  }
}
div.test{
  @include media(lg) {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3rem;
    padding: 1rem;
    background-color: var(--color-dark-10);
    transition-duration: var(--transition-duration);

    &:not(.is-active) {
      @include hide;
      translate: 100%;
    }
  }
}