@use '../helpers' as *;

.tplContent{
  &__text{
    max-width: rem(740);
    width: 100%;
    margin: 0 auto;
    padding: rem(20) 0;
    @include media(md){
      padding: rem(40);
    }
  }
  &__title{
    font-weight: 600;
    margin-bottom: fluid(18, 16);
    line-height: 1.5;
    span{
      color: var(--color-secondary);
    }
  }

}