@use '../helpers' as *;

.tpl-contactInfo{
    padding-bottom: rem(20);
    .wrap{
        display: flex;
        flex-direction: column;
        gap: rem(16);
        @include media(md){
            flex-direction: row;
            gap: rem(40);
        }

    }
    .cta-icon-block{
        margin: 0;
    }
}