@use '../helpers' as *;

.tpl-aboutUs{
  padding-top: rem(20);
  margin-bottom: rem(20);
  @include media(md){
    padding-top: rem(40);
    margin-bottom: rem(40);
  }
  &__header{
    margin-bottom: rem(32);
    span{
      color: var(--color-dark-40);
      display: block;
    }
  }
  &__bg{
    border-radius: 20px;
    background: var(--color-light-10);
    padding: rem(35) rem(20);
    @include media(md){
      padding: rem(40) rem(40);
    }
  }
  .flex{
    display: flex;
    flex-wrap: wrap;
  }
  &__content{
    max-width: 100%;
    width: 100%;
    order: 2;
    @include media(md){
      order: 1;
      max-width: 55%;
      width: 55%;
    }
    @include media(lg){
      max-width: 35%;
      width: 35%;
    }
    .text{
      font-size: rem(16);
      margin-bottom: rem(16);
      line-height: 1.5;
      @include media(md){
        padding-right: rem(40);
      }
      @include media(lg){
        padding-right: rem(80);
      }
    }
  }
  &__image{
    max-width: 100%;
    width: 100%;
    order: 1;
    margin-bottom: rem(16);
    @include media(md){
      order: 2;
      max-width: 45%;
      width: 45%;
      margin-bottom: 0;
    }
    @include media(lg){
      max-width: 65%;
      width: 65%;
    }
    .wrap{
      border-radius: var(--rounded-8);
      overflow: hidden;
      background: var(--color-gray-10);
      height: 100%;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}