@use '../helpers' as *;

.tplText{
  &__bg{
    border-radius: 20px;
    background: var(--color-light-10);
    padding: rem(35) rem(20);
    position: relative;
    @include media(md){
      padding: rem(40) rem(40);
    }
  }
  &__text{
    max-width: rem(740);
    width: 100%;
    margin: 0 auto;
    padding-bottom: rem(40);
  }
  &__title{
    font-weight: 600;
    margin-bottom: fluid(18, 16);
    line-height: 1.5;
    span{
      color: var(--color-secondary);
    }
  }
  &__bgElem{
    position: absolute;
    img{
      width: 100%;
    }
    &.first{
      top: 0;
      left: rem(-10);
      @include media(sm){
        left: rem(-70);
      }
      @include media(lg){
        left: rem(-130);
      }
    }
    &.second{
      bottom: -2px;
      right: 0;

    }
  }
  h3.wp-block-heading{
    font-weight: 500;
    padding-left: rem(40);
    position: relative;
    @include media(sm){
      padding-left: rem(100);
    }
    &:before{
      content: '';
      border-radius: 40px;
      width: rem(32);
      height: 4px;
      position: absolute;
      left: 0;
      top: rem(11);
      background: var(--color-gray-10);
      @include media(sm){
        width: rem(72);
      }
    }
  }
  .heading{
    position: relative;
  }
}