@use '../helpers' as *;

.tplSpecialist{
  padding-top: rem(20);
  margin-bottom: rem(20);
  @include media(md){
    padding-top: rem(40);
    margin-bottom: rem(40);
  }
  &__heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(40);
    flex-direction: column;
    @include media(md){
     flex-direction: row;
      align-items: end;
    }
    span{
      color: var(--color-dark);
    }
  }
  .title{
    margin-bottom: rem(16);
    @include media(md){
      margin-bottom: 0;
    }
    span{
      display: block;
      color: var(--color-dark-40);
    }
  }
}

.specialist{
  &__card{
    border-radius: 8px;
    padding: 16px;
    background: var(--color-light-10);
    transition: all .3s ease-in-out;
    width: rem(250);
    margin: 0 auto;
    @include media(md){
      width: 100%;
    }
    &:hover{
      box-shadow: 0 0 5px var(--color-secondary);
    }
  }
  &__photo{
    //background: linear-gradient(135deg, #72e0e0 0%, #5fbeed 50%, #1470cc 100%);
    height: rem(150);
    width: rem(150);
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    .post-thumbnail{
      position: absolute;
      width: 100%;
      height: 100%;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
  &__experience{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    border-radius: 0 8px 0 0;
    padding: 8px 12px;
    background: var(--color-light);
    font-weight: 600;
    font-size: 12px;
    color: var(--color-dark-40);
  }
  &__speciality{
    font-weight: 400;
    font-size: rem(12);
    color: var(--color-gray-20);
  }
  &__author{
    margin-top: rem(16);
    margin-bottom: rem(10);
    h3{
      font-size: rem(16);
      color: var(--color-black);
      margin: 0;
    }
  }
}