@use '../helpers' as *;

.tplServices{
  padding-top: rem(40);
  margin-bottom: rem(40);
  @include media(md){
    padding-top: rem(40);
    margin-bottom: rem(40);
  }
  &__heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(40);
    flex-direction: column;
    @include media(md){
     flex-direction: row;
      align-items: end;
    }
    span{
      color: var(--color-dark);
    }
  }
  .title{
    margin-bottom: rem(16);
    font-weight: 600;
    @include media(md){
      margin-bottom: 0;
    }
    span{
      display: block;
    }
  }
  &__loop{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(24);
    @include media(md){
      grid-template-columns: repeat(3, 1fr);
    }
    @include media(xl){
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.services{
  &__card{
    border-radius: 8px;
    padding: 16px;
    background: var(--color-light-10);
    transition: all .3s ease-in-out;
    &:hover{
      box-shadow: 0 0 5px var(--color-secondary);
    }
  }
  &__photo{
    background: linear-gradient(135deg, #72e0e0 0%, #5fbeed 50%, #1470cc 100%);
    height: rem(100);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    @include media(md){
      height: rem(176);
    }
    .post-thumbnail{
      position: absolute;
      width: 100%;
      height: 100%;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
  &__experience{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    border-radius: 0 8px 0 0;
    padding: 8px 12px;
    background: var(--color-light);
    font-weight: 600;
    font-size: rem(16);
    color: var(--color-accent);
  }
  &__title{
    margin-top: rem(16);
    margin-bottom: rem(10);
    h3{
      font-weight: 600;
      @include fluid-text(20, 14);
      color: var(--color-black);
      margin: 0;
      @include media(md){
        padding-right: 30%;
      }
    }
  }
}