@use '../helpers' as *;

.tplContact{
  text-align: center;
  padding: rem(20) 0;
  @include media(md){
    padding: rem(40) 0;
  }
  &__bg{
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    background: var(--color-light-10);
    padding: rem(40) rem(20);
  }
  .title{
    z-index: 2;
    margin-bottom: rem(18);
    @include media(md){
      margin-bottom: rem(24);
    }
    span{
      display: block;
      color: var(--color-secondary);
    }
  }
  .subtitle{
    @include fluid-text(17,14);
    font-weight: 400;
    z-index: 2;
    margin-bottom: rem(18);
    color: var(--color-gray-20);
    @include media(md){
      margin-bottom: rem(24);
    }
  }
  &__bgElem{
    position: absolute;
    img{
      width: 100%;
    }
    &.first{
      top: 0;
      left: 0;
    }
    &.second{
      bottom: -2px;
      right: 0;

    }
  }
}

.wpcf7-form{
  z-index: 2;
  position: relative;
  max-width: rem(750);
  margin: 0 auto;
  label{
    position: relative;
    margin-bottom: rem(16);
    .iconInput{
      position: absolute;
      left: rem(17);
      top: -53%;
      z-index: 1;
      color: var(--color-secondary);
      @include media(md){
        top: 22%;
        left: rem(40);
      }
    }
  }
  .wrap{
    @include media(md){
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .wpcf7-form-control{
    border-color: var(--color-light);
    padding: rem(18);
    padding-left: rem(54);
    @include media(md){
      padding: rem(24);
      padding-left: rem(74);
    }

    @include media(md){
      width: 94%;
    }
    &:focus{
      border: 1px solid var(--color-accent);
    }
  }
  .wpcf7-submit, .wpcf7-acceptance{
    display: block;
    max-width: rem(360);
    width: 100%;
    margin: 0 auto;
    padding: rem(18);
    padding-left: rem(24);
    @include media(md){
      padding: rem(24);
    }
  }
  .wpcf7-acceptance{
    font-weight: 400;
    max-width: rem(340);
    margin: 0 auto;
    font-size: rem(12);
    color: var(--color-gray-20);
    padding: 0;
    margin-top: rem(12);
  }
  .wpcf7-spinner{
    display: none;
    width: 0;
    height: 0;
  }
  .wpcf7-not-valid-tip{
    font-size: rem(12);
    display: none;
  }
  .wpcf7-response-output{
    max-width: rem(470);
    margin: rem(16) auto!important;
    font-size: rem(14);
    border: none!important;
    display: block;
  }
}