@use 'helpers' as *;

html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  @include fluid-text(16, 14);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--color-dark-40);
  background-color: var(--color-light);
  &.t-overflow{
    overflow: hidden;
  }
}

main {
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-dark);
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-family: var(--font-family-base);
  font-weight: 600;
}

h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 600;
}

h1, .h1 {
  @include fluid-text(70, 30);

  line-height: 1.2;
}

h2, .h2 {
  @include fluid-text(40, 28);
  font-weight: 400;
  line-height: 120%;
  color: var(--color-dark-40);
}

h3, .h3 {
  @include fluid-text(40, 24);
}

h4, .h4 {
  @include fluid-text(26, 18);
}

h5, .h5 {
  @include fluid-text(24, 18);
}

h6, .h6 {
  @include fluid-text(20, 16);
}

p {
  --paragraphMarginBottom: #{rem(24)};
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-accent);
  }

  &[class] {
    text-decoration: none;
  }
}



a,
button {
  &[aria-label] {
    position: relative;
  }
}